.details{
    padding: 0px 45px;
    text-align: justify;
}

@media only screen and (max-width: 600px) {
    .details{
        padding: 0px 0px;
        text-align: justify;
    }
    p{
        margin: 0px;
    }
    p,li{
        font-size: smaller;

    }
    ul{
        /* padding-left: 15px; */
    }
    h1{
        font-size: large;
        margin: 10px 0px;
    }
}
ul{
    list-style: none;
}

 .details ul li:before {
    content: '✔ ';
  }