.details{
    padding: 0px 45px;
    text-align: justify;
}

@media only screen and (max-width: 600px) {
    .details{
        padding: 0px 0px;
        text-align: justify;
    }
    p{
        margin: 0px;
    }
    p,li{
        font-size: smaller;

    }
    h1{
        font-size: large;
        margin: 10px 0px;
    }
}
ul{
    list-style: none;
}

 .details ul li:before {
    content: '✔ ';
  }

table{
    margin: 10px 0px;
    margin-top: 10px;
    border: 1px solid #ddd;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    text-align: left;

}

td ,th{
    padding: 8px;
    border: 1px solid #ddd;
}
th{
    border-bottom: 2px solid #ddd;
    font-weight: 900;
    
}
.table{
    font-size: 13px;
    display: flex;
    align-content: center;
    justify-content: center;
}